<% include ../public/mini_nav.ejs %>
<link rel="stylesheet" href="css/user.css">
<% include ../public/header_top.ejs %>

<div class="reg_main">
	<!-- 面包屑 -->
	<div class="bread">
		<div class="b_nav">
			您现在的位置:
			<a href="./">小苹果零食坊</a>><span>会员注册</span>
		</div>
	</div>
</div>

<script type="text/javascript" src=""></script>
<% include ../public/footer.html%>
