<% include ../public/mini_nav.ejs %>
<link rel="stylesheet" href="css/user.css">
<% include ../public/header_top.ejs %>

<div class="reg_main">
	<!-- 面包屑 -->
	<div class="bread">
		<div class="b_nav">
			您现在的位置:
			<a href="./">小苹果零食坊</a>><span>会员注册</span>
		</div>
	</div>
	<div class="pron">
		<form action="./register">
			<div class="form_item clearFix">
				<span class="label">
					<b class="ftx04">*</b>
					用户名:
				</span>
				<div class="l item_info">
					<input id="userName" name="userName" tabindex="1" autocomplete="off" type="text" class="txt">
				</div>
			</div>
			<div class="form_item clearFix">
				<span class="label">
					<b class="ftx04">*</b>
					请输入密码:
				</span>
				<div class="l item_info">
					<input id="psw" name="psw" tabindex="2" autocomplete="off" type="text" class="txt">
				</div>
			</div>
			<div class="form_item clearFix">
				<span class="label">
					<b class="ftx04">*</b>
					请再次输入密码:
				</span>
				<div class="l item_info">
					<input id="confirmPsw" name="confirmPsw" tabindex="3" autocomplete="off" type="text" class="txt">
				</div>
			</div>
			<div class="form_item clearFix">
				<span class="label">
					<b class="ftx04">*</b>
					电子邮件:
				</span>
				<div class="l item_info">
					<input id="email" name="email" taxindex="4" autocomplete="off" type="text" class="txt">
				</div>
			</div>
			<div class="form_item clearFix">
				<span class="label">
					<b class="ftx04">*</b>
					验证码:
				</span>
				<div class="l item_info">
					<input id="autocode" name="autocode" taxindex="5" autocomplete="off" type="text" class="txt">

				</div>
			</div>
		</form>
	</div>
</div>



<script type="text/javascript" src="js/user.js"></script>
<% include ../public/footer.html%>
