<% include public/mini_nav.ejs %>
<% include public/header_top.ejs %>
	<div class="floor">
		<!-- banner -->
		<div class="floor1">
			<div class="slider l slider-box">
				<div class="slider-mod">
	            </div>
	         	<div class="bd">
	              <ul class="items fl-clr">
	                <li class="cloned">
	                  	<a title="机器人展会大盘点" href="" target="_blank" rel="nofollow" data-scode="90100">
		                    <img alt="机器人展会大盘点" src="images/banner/banner.jpg " width="708" height="445">
		                  </a>
	                </li>
	              </ul>
	            </div>
			</div>
			<div class="r">
				<!-- 本站公告 -->
				<div class="notice panel">
					<p>商城公告</p>
					<div class="main">
						<ul class="notice_main">
							<li><a href="#">新年快乐</a></li>
							<li><a href="#">最新优惠活动</a></li>
							<li><a href="#">网站升级，送精美零食</a></li>
						</ul>
					</div>
				</div>
				<!-- 本周特价 -->
				<div class="sale panel">
					<p>本周特价</p>
					<div class="main">
						<ul class="notice_main">
							<li><a href="#">新年快乐</a></li>
							<li><a href="#">最新优惠活动</a></li>
							<li><a href="#">网站升级，送精美零食</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cl"></div>
		</div>
	</div>
<% include public/foot.html%>