<% include public/mini_nav.ejs %>
<% include public/header_top.ejs %>
<<<<<<< HEAD
<!-- 信息选择信息展示 -->
=======
>>>>>>> origin/master
	<div class="floor">
		<!-- banner -->
		<div class="floor1">
			<div class="slider l slider-box">
				<div class="slider-mod">
	            </div>
	         	<div class="bd">
	              <ul class="items fl-clr">
	                <li class="cloned">
	                  	<a title="机器人展会大盘点" href="" target="_blank" rel="nofollow" data-scode="90100">
		                    <img alt="机器人展会大盘点" src="images/banner/banner.jpg " width="708" height="445">
		                  </a>
	                </li>
	              </ul>
	            </div>
			</div>
			<div class="r">
				<!-- 本站公告 -->
				<div class="notice panel">
					<p>商城公告</p>
					<div class="main">
						<ul class="notice_main">
							<li><a href="#">新年快乐</a></li>
							<li><a href="#">最新优惠活动</a></li>
							<li><a href="#">网站升级，送精美零食</a></li>
						</ul>
					</div>
				</div>
				<!-- 本周特价 -->
				<div class="sale panel">
					<p>本周特价</p>
					<div class="main">
						<ul class="notice_main">
							<li><a href="#">新年快乐</a></li>
							<li><a href="#">最新优惠活动</a></li>
							<li><a href="#">网站升级，送精美零食</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	<!-- 限时抢购 -->
	<div class="floor">
		<div class="index_tab l">
			<div class="head_tab">
				<ul>
					<li class="on"><a href="javascript:void(0)" class="head_tab_a">限时抢购</a></li>
					<li><a href="javascript:void(0)" class="head_tab_a">新品上架</a></li>
					<li><a href="javascript:void(0)" class="head_tab_a">推荐商品</a></li>
					<li><a href="javascript:void(0)" class="head_tab_a">疯狂抢购</a></li>
				</ul>
			</div>
			<div class="contain_tab">
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mt20">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
					<div class="time_count">
						<span>剩余</span>
					</div>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell1.jpg" alt="商品图片" class="mt20">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mt20">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mt20">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
			</div>
		</div>
		<div class="r">
			<!-- 本周热销榜 -->
			<div class="hotSale panel">
				<p>热销排行榜</p>	
				<div class="main">
					<ul class="pic_info">
						<li>
							<a href="#" class="pic">
								<img src="images/data/food.jpg" alt="食品" width="100%" height='100%'>
							</a>
							<div class="info">
								<p class="name">旺旺雪饼</p>
								<p>¥<span class="price">6.80</span></p>
							</div>
							<div class="cl"></div>
						</li>
						<li>
							<a href="#" class="pic">
								<img src="images/data/food.jpg" alt="食品" width="100%" height='100%'>
							</a>
							<div class="info">
								<p class="name">旺旺雪饼</p>
								<p>¥<span class="price">6.80</span></p>
							</div>
							<div class="cl"></div>
						</li>
						<li>
							<a href="#" class="pic">
								<img src="images/data/food.jpg" alt="食品" width="100%" height='100%'>
							</a>
							<div class="info">
								<p class="name">旺旺雪饼</p>
								<p>¥<span class="price">6.80</span></p>
							</div>
							<div class="cl"></div>
						</li>
						<li>
							<a href="#" class="pic">
								<img src="images/data/food.jpg" alt="食品" width="100%" height='100%'>
							</a>
							<div class="info">
								<p class="name">旺旺雪饼</p>
								<p>¥<span class="price">6.80</span></p>
							</div>
							<div class="cl"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cl"></div>
	</div>
	<!-- 楼层消息 -->
	<div class="floor classify">
		<div class="header">
			<a href="#">饼干、膨化食品</a>
		</div>
		<div class="container">
			<!-- 热门活动 -->
			<a href="#"  class="acitvy">
				<img src="images/data/activy.gif" alt="活动图" width="100%" height="100%">
			</a>
			<!-- 产品列表 -->
			<div class="products">
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mg0">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mg0">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mg0">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
				<div class="items">
					<a href="#" class="goods">
						<img src="images/data/cell.jpg" alt="商品图片" class="mg0">
					</a>
					<p class="name">
						<a href="#" title="苹果iphone6 plus 64g 不拉不拉不拉">苹果iphone6 plus 64g 不拉不拉不拉</a>
					</p>
					<p class="price">
						<span class="price_now">¥5000</span>
						<span class="price_old">¥9000</span>
					</p>
				</div>
			</div>
			<!-- 其他活动 -->
			<div class="other_activy">
				<a href="#" class="other_activy_items">
					<img src="" alt="活动" width="100%" height="100%">
				</a>
				<a href="#" class="other_activy_items">
					<img src="" alt="活动" width="100%" height="100%">
				</a>
				<a href="#" class="other_activy_items">
					<img src="" alt="活动" width="100%" height="100%">
				</a>
			</div>
		</div>
	</div>
<% include public/footer_bottom.html%>
<% include public/footer.html%>
