.center {
  margin: 0 auto;
}
.txtEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.floor {
  width: 1200px;
  margin: 0 auto;
}
.floor .slider {
  margin-left: 240px;
  position: relative;
}
.floor .slider .slider-mod {
  bottom: 0;
  height: 30px;
  left: 0;
  padding-left: 10px;
  position: absolute;
  text-align: left;
  width: 98%;
  z-index: 87;
}
.notice_main {
  width: 100%;
  padding: 10px;
}
.notice_main li {
  line-height: 30px;
  background: url(../images/news_li01.gif) no-repeat left center;
  padding-left: 15px;
}
.sale {
  margin-top: 20px;
}
.index_tab {
  margin-top: 10px;
  width: 948px;
  border: 1px solid #bbbbbb;
  height: 324px;
}
.head_tab {
  height: 30px;
  line-height: 30px;
}
.head_tab ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.head_tab ul li {
  float: left;
  width: 236px;
  text-align: center;
  background-color: #f0eeef;
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}
.head_tab ul li:last-child {
  border-right: none;
  width: 237px;
}
.head_tab ul li.on {
  border-bottom: none;
  background-color: #ffffff;
}
.head_tab_a {
  display: inline-block;
  width: 100%;
  color: #404040;
  font-size: 14px;
  font-weight: bold;
}
.contain_tab {
  width: 100%;
  height: auto;
}
.items {
  width: 180px;
  padding: 2px;
  float: left;
}
.goods {
  width: 100%;
  height: 180px;
  padding: 8px;
  text-align: center;
  display: block;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 10px;
}
.price {
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 10px;
}
.price .price_now {
  color: red;
}
.price .price_old {
  margin-left: 10px;
  color: #666;
  text-decoration: line-through;
}
.hotSale {
  margin-top: 10px;
}
.pic_info li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 3px;
}
.pic_info .pic {
  display: block;
  width: 60px;
  height: 55px;
  float: left;
}
.pic_info .info {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  line-height: 20px;
}
.pic_info .price {
  color: red;
  font-weight: bold;
}
.pic_info .name {
  color: #404040;
  font-size: 12px;
}
.classify {
  margin-top: 10px;
  height: 300px;
}
.classify .header {
  width: 100%;
  line-height: 25px;
  border-bottom: 3px solid #af0000;
}
.classify .header a {
  font-size: 18px;
}
.classify .container {
  margin-top: 5px;
  width: 100%;
}
.classify .container > div {
  float: left;
}
.classify .container > div:last-child {
  float: right;
}
.classify .container .acitvy {
  display: block;
  width: 200px;
  height: 240px;
  float: left;
}
.classify .other_activy {
  width: 245px;
}
.classify .other_activy .other_activy_items {
  display: block;
  height: 70px;
  margin-top: 10px;
}
