<div class="footer">
   	<div class="footer_container  clearfix">
		<dl >
		  <dt><a href="article_cat.php?id=6" title="帮助信息">帮助信息</a></dt>
		  <dd> 
		    <a href="article.php?id=50" title="更多帮助信息">更多帮助信息</a>
		    <a href="article.php?id=51" title="常见问题">常见问题</a>
		    <a href="article.php?id=52" title="找回密码">找回密码</a>
		    </dd>
		</dl>
		<dl>
		  <dt><a href="article_cat.php?id=5" title="新手上路 ">新手上路 </a></dt>
		  <dd> 
		    <a href="article.php?id=36" title="购物流程">购物流程</a>
		    <a href="article.php?id=37" title="积分说明">积分说明</a>
		    <a href="article.php?id=39" title="服务承诺">服务承诺</a>
		    <a href="article.php?id=40" title="服务协议">服务协议</a>
		    </dd>
		</dl>
		<dl>
		  <dt><a href="article_cat.php?id=7" title="配送方式">配送方式</a></dt>
		  <dd> 
		    <a href="article.php?id=41" title="配送范围及时间">配送范围及时间</a>
		    <a href="article.php?id=42" title="加急快递">加急快递</a>
		    <a href="article.php?id=43" title="商品验货与签收">商品验货与签收</a>
		    <a href="article.php?id=44" title="订单查询">订单查询</a>
		    </dd>
		</dl>
		<dl>
		  <dt><a href="article_cat.php?id=8" title="支付方式">支付方式</a></dt>
		  <dd> 
		    <a href="article.php?id=45" title="货到付款">货到付款</a>
		    <a href="article.php?id=46" title="网上支付">网上支付</a>
		    <a href="article.php?id=48" title="礼品卡支付">礼品卡支付</a>
		    <a href="article.php?id=49" title="抵用券支付">抵用券支付</a>
		    </dd>
		</dl>
		<dl>
		  <dt><a href="article_cat.php?id=10" title="售后服务">售后服务</a></dt>
		  <dd> 
		    <a href="article.php?id=54" title="退换货原则">退换货原则</a>
		    <a href="article.php?id=55" title="延保服务">延保服务</a>
		    <a href="article.php?id=56" title="退换货地址">退换货地址</a>
		    <a href="article.php?id=57" title="如何办理提现">如何办理提现</a>
		    </dd>
		</dl>
		<div class="clear"></div>
  	</div>
</div>