<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
	 	<meta name="Keywords" content="零食商城，小苹果电子商务">
	    <meta name="description" content="2015-06-17">
	    <meta name="author" content="xuyang">
	    <title><%=title %></title>
	  	<link rel="shortcut icon" href="favicon.ico">
	  	<script type="text/javascript" src="js/jquer-2.1.4.min.js"></script>
	  	<link rel="stylesheet" href="css/reset.css">
	  	<link rel="stylesheet" href="css/css.css">
