<!-- 头部信息 -->
<div class="header_top">
	<!-- logo -->
	<div class="logo">
		<img src="images/logo/logo.png" alt="logo" width="220" height="76">
	</div>
	<!-- 搜索栏 -->
	<div class="search">
		<form action="index">
			<div class="input_box">
				<input type="text" name="keyword" placeholder="请输入商品名称/代码">
			</div>
			<input type="button" type="submit" class="seach_btn btn" value="搜索">
		</form>
	</div>
	<div class="cl"></div>
</div>
<!-- 导航栏 -->
<div class="nav">
	<div class="main_nav">	
		<!-- 所有商品 -->
		<div class="all_goods on">
			<a href="javascript:void(0)">所有商品分类</a>
			<ul>
				<li><a href="#">实木地板</a><span>></span></li>
				<li><a href="#">实木地板</a><span>></span></li>
				<li><a href="#">实木地板</a><span>></span></li>
				<li><a href="#">实木地板</a><span>></span></li>
			</ul>
		</div>
<<<<<<< HEAD
		<div class="l items_nav">
=======
		<div class="l items">
>>>>>>> origin/master
			<a href="#">首页</a>
			<span>|</span>
			<a href="#">进口食品</a>
			<span>|</span>
			<a href="#">怀旧经典</a>
			<span>|</span>
			<a href="#">地方特产</a>
			<span>|</span>
			<a href="#">开心下午茶</a>
			<span>|</span>
			<a href="#">会员推荐</a>
			<span>|</span>
			<a href="#">积分换购</a>
		</div>
	</div>
</div>